<!DOCTYPE html>
<!-- 
	@author : Grégoire Boiron <gregoire.boiron@gmail.com> 
	@version : 1.2
-->
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
	  <!-- Include stylesheets -->
	  <link rel="stylesheet" type="text/css" href="css/main-style.css">	
    </head>
	
	<!-- https://docs.google.com/spreadsheets/d/1cuwb3QSvWDD7GG5McdvyyRBpqycYuKMRsXgyrvxvLFI/htmlembed -->

    <body>
		<nav>
		  <div class="nav-wrapper padding-left">
			<a href="" class="brand-logo">Spell Finder - Match the perfect spell</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
			  <li><a href="">A propos</a></li>
			  <!--<li><a href="">sass <span class="new badge">4</span></a></li>
			  <li><a href="">sass</a></li>-->
			</ul>
		  </div>
		</nav>
		
		<nav class="padding-left">
			<div class="nav-wrapper">
			  <div id="navigation-bar" class="col s12">
				<a href="index.html" class="breadcrumb">Introduction</a>
				<a href="#!" class="breadcrumb">Criteres</a>
				<!--
				<a href="#!" class="breadcrumb">Third</a>-->
			  </div>
			</div>
		</nav>
		
		<section id="center-section">
			<h1>Criteres</h1>
			
			<p>
				Entrer les differents parametres du sort que vous cherchez.
				<br>
				Plus vous renseignerais de champs,plus la recherche sera précise !
				<br>
				Pour prendre un compte un parametre, activer le switch sur "On" et renseignait sa valeur.
			</p>
			
			<form action="#">
				
				<label>
					School
					<div class="switch">
						<label>
						Off
						<input id="school-switch" type="checkbox">
						<span class="lever"></span>
						On
						</label>
					</div>
				</label>
				<select id="school-value" class="browser-default">
					<option value="" disabled selected>Choose the spell's school</option>
					<option value="1">Abjuration</option>
					<option value="1">Conjuration</option>
					<option value="2">Divination</option>
					<option value="3">Enchantment</option>
					<option value="4">Evocation</option>
					<option value="5">Illusion</option>
					<option value="6">Necromancy</option>
					<option value="7">Transmutation</option>
				</select>
			
				<label>
					Components
					<div class="switch">
						<label>
						Off
						<input id="components-switch" type="checkbox">
						<span class="lever"></span>
						On
						</label>
					</div>
				</label>
				<div class="checkbox-div">
					<p>
						<input type="checkbox" id="verbal" />
						<label for="verbal">Verbal (V)</label>
					</p>
					<p>
						<input type="checkbox" id="somatic" />
						<label for="somatic">Somatic (S)</label>
					</p>
					<p>
						<input type="checkbox" id="material" />
						<label for="material">Material (M)</label>
					</p>
					<p>
						<input type="checkbox" id="focus"  />
						<label for="focus">Focus (F)</label>
					</p>
					<p>
						<input type="checkbox" id="divinefocus" />
						<label for="divinefocus">Divine Focus (DF)</label>
					</p>
				</div>
				
				<label>
					Level
					<div class="switch">
						<label>
						Off
						<input id="level-switch" type="checkbox">
						<span class="lever"></span>
						On
						</label>
					</div>
				</label>
				<p class="range-field">
					<input type="range" id="level-value" min="0" max="9" />
				</p>
			
				<label>
					Range
					<div class="switch">
						<label>
						Off
						<input id="range-switch" type="checkbox">
						<span class="lever"></span>
						On
						</label>
					</div>
				</label>
				<select id="range-value" class="browser-default">
					<option value="" disabled selected>Choose the spell's range</option>
					<option value="1">Personal</option>
					<option value="2">Touch</option>
					<option value="3">Close</option>
					<option value="4">Medium</option>
					<option value="5">Long</option>
					<option value="6">Unlimited</option>
					<option value="7">Range Expressed in Feet</option>
				</select>
				
				<label>
					Spell Resistance
					<div class="switch">
						<label>
						Off
						<input id="resistance-switch" type="checkbox">
						<span class="lever"></span>
						On
						</label>
					</div>
				</label>
				<div class="switch">
					<label>
					Non
					<input id="resistance-value" type="checkbox">
					<span class="lever"></span>
					Oui
					</label>
				</div>
			</form>
			<br>
			<a class="waves-effect waves-light btn-large" id="compute"><i class="material-icons right">send</i>Chercher</a>
		</section>
		
		<section id="preloader" style="display: none;">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="results-section" style="display: none;">
			<table id="spells-table">
				<tr>
					<th>Name</th>
					<th>Values</th>
				</tr>
			</table>
		</section>

		<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Objectifs</h5>
                <p class="grey-text text-lighten-4">Ce site a été réalisé dans le cadre d'un cours dispensé à l'UQAC. Ce site à donc été fait à des fins pédagogiques.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.uqac.ca">UQAC</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/edmondlachance/8INF803">GitHub du cours</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Graygzou/Spells-Finder">GitHub du projet</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            </div>
          </div>
        </footer>
		
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script>
            var socket = io.connect("http://localhost:8080");
			
			socket.on('results', function(jsonObj) {
				console.log(jsonObj);
				// Disable loading screen
				document.getElementById("preloader").style.display = "none";
				var container = document.getElementById("results-section");
			
				// Change page style
				var node = document.createElement('a');
				var textnode = document.createTextNode("Resultats");
				node.className += "breadcrumb";
				node.appendChild(textnode);
				document.getElementById("navigation-bar").appendChild(node);
				
				// Add results
				for(var spell in jsonObj) {
					console.log(jsonObj[spell]);
					
					var currentTR = document.createElement("tr");
					//currentTR.setAttribute("id", "myTr");
					document.getElementById("spells-table").appendChild(currentTR);
					
					for (var key in jsonObj[spell]) {
						if (jsonObj[spell].hasOwnProperty(key)) {
							console.log(key + " -> " + jsonObj[spell][key]);
							//container.innerHTML += key + " -> " + ;
							
							var currentTD = document.createElement("td");
							var text = document.createTextNode(jsonObj[spell][key]);
							currentTD.appendChild(text);
							currentTR.appendChild(currentTD);
						}
					}
				}
			
				container.style.display = "block";
				
			});
			
			$('#compute').click(function () {
				document.getElementById("center-section").style.display = "none";
				document.getElementById("preloader").style.display = "block";
				
				// Retrieve data from the form
				var JSONdata = {};
				if(document.getElementById('school-switch').checked == true) {
					if($( "#school-value" ).val() != null) {
						JSONdata = $.extend(JSONdata, {'school': $('#school-value option:selected').text()});
					}
				}
				if(document.getElementById('components-switch').checked == true) {
					JSONdata = $.extend(JSONdata, {'component': document.getElementById('components-value option:selected').text()});
				}
				if(document.getElementById('level-switch').checked == true) {
					JSONdata = $.extend(JSONdata, {'level': document.getElementById('level-value').value});
				}
				if(document.getElementById('range-switch').checked == true) {
					console.log($( "#range-value" ).val());
					if($( "#range-value" ).val() != null) {
						JSONdata = $.extend(JSONdata, {'range': $('#range-value option:selected').text()});
					}
				}
				if(document.getElementById('resistance-switch').checked == true) {
					if(document.getElementById('resistance-value').checked == true) {
						JSONdata = $.extend(JSONdata, {'spellResistance': 'yes'});
					} else {
						JSONdata = $.extend(JSONdata, {'spellResistance': 'no'});
					}
				}
                socket.emit('compute', JSONdata);
            });
        </script>
	</body>
  </html>
        