<!--
 * @author Grégoire Boiron <gregoire.boiron@gmail.com>
 * @version 0.1.0
-->
<!doctype html> 
<html lang="en">
	<head> 
		<meta charset="UTF-8" />
		<title>Phaser - Making your first game, part 1</title>
		<script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
		<style type="text/css">
			body {
				margin: 0;
				text-align: center;
				background-color : rgb(28, 17, 23);;
			}
			h1, h2 {
				color: white;
			}
			#gameDiv canvas {
				margin: 0 auto;
				border:3px ridge lightgray;
			}
		</style>
	</head>
	<body>
		<h1>Spells-finder</h1>
		<div id="gameDiv">
		</div>
		<h2>Credits</h2>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="client/main.js"></script>
</html>